.intro {
    background-color: #FFF2F1;
    height: 100vh;
    z-index: -2;

    &:hover {
        .intro__arrow {
            &::before {
                animation: bounce 1s ease-in-out infinite;
            }

            &::after {
                animation: bounce 1s ease-in-out infinite;
            }
        }
    }
    
    &__container {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
        
    }

    &__title {
        text-align: center;
        color: #101010;
        font-size: 32px;
        font-weight: 400;
    }

    &__caret {
        animation: 0.7s blinker infinite;
    }

    &__arrow {
        display: block;

        &::before {
            display: block;
            content: "";
            width: 40px;
            height: 2px;
            background-color: #005961;
            position: absolute;
            left: 50%;
            bottom: 28px;
            transform: translateX(calc(-50% - 16.5px)) rotate(33deg);
            border-radius: 3px;
        }

        &::after {
            display: block;
            content: "";
            width: 40px;
            height: 2px;
            background-color: #005961;
            position: absolute;
            left: 50%;
            bottom: 28px;
            transform: translateX(calc(-50% + 16.5px)) rotate(-33deg);
            border-radius: 3px;
        }
    }

    @keyframes bounce {
        0% { bottom: 28px; }
        50% { bottom: 44px; }
        100% { bottom: 28px; }
    }

    @keyframes blinker {
        from { opacity: 1; }
        to { opacity: 0; }
    }

    @media screen and (min-width:768px){
       &__title {
           font-size: 48px;
       }
    }

    @media screen and (min-width:1280px){
        &__title {
            font-size: 72px;
        }

        &__arrow {
            &::before {
                width: 56px;
                height: 3px;
                bottom: 44px;
                transform: translateX(calc(-50% + 23px)) rotate(-33deg);

            }

            &::after {
                width: 56px;
                height: 3px;
                bottom: 44px;
                transform: translateX(calc(-50% - 23px)) rotate(33deg);
            }
        }
     }
}